/* waybar style.css */
@define-color bgcolor #a996bc;	/* background color */
@define-color fgcolor #000000;  /* foreground color */
@define-color charging #07fb05; /* battery charging color */
@define-color plugged #acfcad;  /* ac plugged color */
@define-color critical #ff0000; /* critical color */
@define-color warning #f3f809;  /* warning color */
@define-color hover #94a6e3;    /* mouse hover over workspace color */ 

/* Reset all styles */
* {
	border: 1px;
	border-radius: 6px;
	min-height: 0;
	margin-left: 3;
	margin-right: 3;
	padding: 1px;
}

#waybar {
	background: transparent;
	font-family: JetBrainsMono;
	font-size: medium;
	font-weight: bolder;
	color: @fgcolor;
}

#workspaces button {
	padding-left: 10px;
	padding-right: 10px;
	color: @bgcolor;
}

#workspaces button.focused {
	background: @bgcolor;
	color: @fgcolor;
}

#workspaces button:hover {
	background: @hover;
	color: @fgcolor;
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
}

#custom-cap-left, #custom-cap-right {
	color: @bgcolor;
	font-size: 24px;
}
polybar configs
#idle_inhibitor {
	background: @bgcolor;
	padding-left: 20px;
	padding-right: 10px;
}

#custom-offswitch {
	background: @bgcolor;
	padding-right: 20px;
	padding-left: 10px;
}

#custom-weather,
#cpu, 
#temperature, 
#memory, 
#pulseaudio, 
#disk,
#battery, 
#clock, 
#tray,
#network {
	background: @bgcolor;
	padding-left: 10px;
	padding-right: 10px;
}

#disk.critical {
		color: @critical;
}

#temperature.critical {                                                           
		color: @critical;                                                    
}

#cpu.critical {                                                           
		color: @critical;                                                    
}

#memory.critical {                                                           
		color: @critical;                                                    
}

@keyframes blink1 {                                                                
	to {
		color: @plugged;
	}
}

#battery.plugged {
background-color: @bgcolor;
		animation-name: blink1;                                                          
		animation-duration: 0.5s;                                                       
		animation-timing-function: linear;                                              
		animation-iteration-count: infinite;                                            
		animation-direction: alternate;
}

@keyframes blink2 {
	to {
		background-color: @charging;
	}
}

#battery.charging {
/*  background-color: @bgcolor; */
		animation-name: blink2;                                                          
		animation-duration: 2.0s;                                                       
		animation-timing-function: ease-in-out;                                              
		animation-iteration-count: infinite;                                            
		animation-direction: alternate;
}

@keyframes blink3 {
	to {
		background-color: @warning;
	}
}

#battery.warning:not(.charging) {
/*  background-color: @bgcolor; */
  	animation-name: blink3;
  	animation-duration: 0.7s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}

@keyframes blink4 {
	to {
		background-color: @critical;
	}
}

#battery.critical:not(.charging) {
 /* background-color: @bgcolor; */
  	animation-name: blink4;
  	animation-duration: 0.8s;
  	animation-timing-function: ease-in-out;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
}
